.container {
    --primary: var(--red);
    --glow: var(--red-glow);
    --transparent: var(--red-transparent);
    --less-transparent: var(--red-less-transparent);
    --secondary: var(--cyan);
    --secondary-glow: var(--cyan-glow);
    --thumb: url('/thumb.svg');
    color: var(--primary);
    text-shadow: var(--glow);
}

.container:has(.slider:is(:hover, :focus)) {
    --primary: var(--cyan);
    --glow: var(--cyan-glow);
    --transparent: var(--cyan-transparent);
    --less-transparent: var(--cyan-less-transparent);
    --thumb: url('/thumb-focused.svg');
}

.container:has(.slider:disabled) {
    --primary: var(--grey);
    --glow: var(--grey-glow);
    --transparent: var(--grey-transparent);
    --less-transparent: var(--grey-less-transparent);
    --secondary: var(--grey);
    --secondary-glow: var(--grey-glow);
    --thumb: url('/thumb-disabled.svg');
}

.sliderContainer {
    background-color: var(--transparent);
    border-color: var(--primary);
    border-width: 1.5px;
    border-style: solid;
    height: 2em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.8em + 1.5px), calc(100% - 0.8em + 1.5px) 100%, 0 100%);
    margin-top: 0.5em;
    display: flex;
}

.sliderContainer::before {
    content: '';
    height: 0.8em;
    width: 0.8em;
    background-color: var(--primary);
    position: absolute;
    right: -1px;
    bottom: -1px;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
}

.valueDisplay {
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: end;
    padding-right: 0.5ch;
    color: var(--secondary);
    text-shadow: var(--secondary-glow);
}

.slider {
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: calc(100% - 6ch);
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.slider:focus {
    outline: none;
}

/*
Chrome
*/

.slider::-webkit-slider-runnable-track {
    background-color: var(--transparent);
    height: 0.1em;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    margin-top: -0.95em; /* Centers thumb on the track */
    background: none;
    background-image: var(--thumb);
    background-repeat: no-repeat;
    background-size: cover;
    height: 2em;
    width: 3em;
}

/*
Firefox

It can't be just .slider::-moz-range-track, .slider::-webkit-slider-runnable-track {}
because then it won't work in Chrome
*/

.slider::-moz-range-track {
    background-color: var(--transparent);
    height: 0.1em;
}

.slider::-moz-range-thumb {
    appearance: none;
    border: none;
    background-color: #00000000;
    border-radius: 0;
    margin-top: -0.95em; /* Centers thumb on the track */
    background-image: var(--thumb);
    background-repeat: no-repeat;
    background-size: cover;
    height: 2em;
    width: 3em;
}
