.container {
    color: var(--red);
    text-shadow: var(--red) 0 0 5px;
}

.container:has(.slider:focus) {
    color: var(--cyan);
    text-shadow: var(--cyan) 0 0 5px;
}

.sliderContainer {
    background-color: var(--red-transparent);
    border-color: var(--red);
    border-width: 1.5px;
    border-style: solid;
    height: 2em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.8em + 1.5px), calc(100% - 0.8em + 1.5px) 100%, 0 100%);
    margin-top: 0.5em;
    display: flex;
}

.sliderContainer::before {
    content: '';
    height: 0.8em;
    width: 0.8em;
    background-color: var(--red);
    position: absolute;
    right: -1px;
    bottom: -1px;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
}

.valueDisplay {
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: end;
    padding-right: 0.5ch;
    color: var(--cyan);
    text-shadow: var(--cyan) 0 0 5px;
}

.sliderContainer:has(.slider:focus) {
    background-color: var(--cyan-transparent);
    border-color: var(--cyan);
}

.sliderContainer:has(.slider:focus)::before {
    background-color: var(--cyan);
}

.slider {
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: calc(100% - 6ch);
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.slider:focus {
    outline: none;
}

/*
Chrome
*/

.slider::-webkit-slider-runnable-track {
    background-color: var(--red-transparent);
    height: 0.1em;
}

.slider:focus::-webkit-slider-runnable-track {
    background-color: var(--cyan-transparent);
}

.slider::-webkit-slider-thumb {
    appearance: none;
    margin-top: -0.95em; /* Centers thumb on the track */
    background: none;
    background-image: url('/thumb.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 2em;
    width: 3em;
}

.slider:focus::-webkit-slider-thumb {
    background-image: url('/thumb-focused.svg');
}

/*
Firefox

It can't be just .slider::-moz-range-track, .slider::-webkit-slider-runnable-track {}
because then it won't work in Chrome
*/

.slider::-moz-range-track {
    background-color: var(--red-transparent);
    height: 0.1em;
}

.slider:focus::-moz-range-track {
    background-color: var(--cyan-transparent);
}

.slider::-moz-range-thumb {
    appearance: none;
    border: none;
    background-color: #00000000;
    border-radius: 0;
    margin-top: -0.95em; /* Centers thumb on the track */
    background-image: url('/thumb.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 2em;
    width: 3em;
}

.slider:focus::-moz-range-thumb {
    background-image: url('/thumb-focused.svg');
}
