:root {
    font-family: "Chakra Petch", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --cyan: #54eaf3;
    --cyan-transparent: #54eaf322;
    --cyan-less-transparent: #54eaf344;
    --cyan-glow: var(--cyan) 0 0 5px;
    --red: #c5003c;
    --red-transparent: #c5003c22;
    --red-less-transparent: #c5003c44;
    --red-glow: var(--red) 0 0 5px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Chakra Petch';
    src:
        local('Chakra Petch'),
        url('/fonts/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

input, button {
    font-family: inherit;
    font-size: inherit;
}
